# Git
.git
.gitignore
.gitattributes

# Docker
docker-compose.yml
Dockerfile
.docker
.dockerignore

# Byte-compiled / optimized / DLL files
**/__pycache__/
__pycache__/
**/*.py[cod]

# Virtual environment
.env
.venv/
.venv
**/.venv/
**/venv/
venv/
venv

# VS Code
.vscode/

**/.github/

.DS_Store

# Logs
*.log
logs/

# Testing
.pytest_cache/
.coverage
htmlcov/

# IDE
.idea/
*.swp
*.swo

docker-compose.user.yml
otel-collector-config.yaml